@model recall_ai.mvc_app.Models.User

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <div class="form-group">
        <label for="Name">FirstName</label>
        <input type="text" class="form-control" asp-for="FirstName" name="FirstName" value="@Model.FirstName"/>
    </div>

    <div class="form-group">
        <label for="Name">LastName</label>
        <input type="text" class="form-control" asp-for="LastName" name="LastName" value="@Model.LastName"/>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" value="@Model.Email" required />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
